<footer style="background-color: #37316d; color: white; padding: 20px 0; text-align: center;">
    <div style="max-width: 1200px; margin: auto; padding: 0 20px;">
      <p>contact us at <a href="bloomyday@gmail" style="color: #ADD8E6; text-decoration: none;">bloomyday56</a></p>
    </div>
  </footer>
  