<nav>
  <img src="/images/camera.svg">
  <a href="/products">ALL products</a>
  <% if (user) { %>
    <a href="/products/new"	>
		ADD PERFORMER</a>
    <a href="/products/new" >ADD products</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>
