<nav>
  <link rel="icon" type="image/svg+xml" href="/stylesheets/images/snowflake.png">
  <a href="/products">Shop winter hats</a>
  <a href="/">About our hats</a>
  <div class="content">
    <h1>Winter hat Shop</h1>
</div>
  <% if (user) { %>
    <a href="/products/new" >ADD products</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN</a>
  <% } %>
</nav>
