<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
    <%- include('./partials/header') %>
    <main>
        <img src="https://res.cloudinary.com/dgtqptpu1/image/upload/v1709192062/bob-canning-r53rNKb_7s8-unsplash_w6vl5z.jpg" alt="Cover Photo" class="cover-photo">
        <div class="content">
            <h1>Winter hat Shop</h1>
            <p>Explore winter hats</p>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>
