<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <style>
        body { background-color: #003366; color: white; } 
        a { color: #ADD8E6; } 
    </style>
</head>
<body>
    <%- include('./partials/header') %> <!-- Include the header partial -->
    <h1>Welcome to The cool shop</h1>
    <nav>
        <ul>
            <p> ui /ux designs here </p>
        </ul>
    </nav>
    <%- include('./partials/footer') %> <!-- Include the footer partial -->
</body>
</html>
