body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #365c81;
}

a {
  color: #00B7FF;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.login img {
  height: 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #46b3c9;
}

nav > a.active {
  color: white;
}

.cover-photo {
  max-width: 100%;
  height: auto; 
  width: 100%; 
}